<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.jsdelivr.net/npm/@tsparticles/preset-stars@3/tsparticles.preset.stars.bundle.min.js"></script>
</head>
<body>
<div class="home_background" style="background-image: url('<%= asset_path('noir.png') %>');">
  <h1>NATHAN TRAUTENBERG</h1>
  <h2>Teacher - Software Engineer - Phylogeneticist - Novelist</h2>
  <div class="gallery">
    <div class="image-container">
      <%= link_to teacher_path do %>
        <%= image_tag('teacher.jpg', alt: 'Teacher Image') %>
        <div class="image-overlay">
          <p>Teacher</p>
        </div>
      <% end %>
    </div>
    <div class="image-container">
      <%= link_to software_engineer_path do %>
        <%= image_tag('software_engineer.jpg', alt: 'Software Engineer Image') %>
        <div class="image-overlay">
          <p>Software Engineer</p>
        </div>
      <% end %>
    </div>
    <div class="image-container">
      <%= link_to phylogeneticist_path do %>
        <%= image_tag('bird.jpg', alt: 'Phylogeneticist Image') %>
        <div class="image-overlay">
          <p>Phylogeneticist</p>
        </div>
      <% end %>
    </div>
    <div class="image-container">
      <%= link_to writer_path do %>
        <%= image_tag('writer.jpg', alt: 'Writer Image') %>
        <div class="image-overlay">
          <p>Novelist</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>